<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/smoothie-guide/tabs/guide"></ion-back-button>
    </ion-buttons>

    <ion-title>{{shoppingList.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let ingredientsItem of shoppingList.ingredients">
      <ion-col size-sm="6" offset-sm="3">
        <ion-list id ="green">
          <ion-list-header>{{ingredientsItem.title}}</ion-list-header>
          <ion-item *ngFor="let text of ingredientsItem.component">
            <ion-text>{{text}}</ion-text>
            <ion-checkbox color="primary" checked slot="start" *ngIf="showCheckbox" checked="false"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="btn" color="white" (click)="onShowCheckbox()">
    Check
  </ion-button>
</ion-content>
