form{
  height: 100%;
}

ion-grid{
  height: 100%;
  padding-top: 20%;
  background-color: #06D6A0;
}

#text {
    display:flex;
    flex-direction:column;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#t1 {
    background-color: #06D6A0;
    font-size: 40px;
    color:red;
}
#t2 {
    background-color: #06D6A0;
    font-size: 25px;
    color:red;
}
ion-list {
  background-color: #06D6A0;
    ion-item{
      margin: 5%;
      --border-radius: 10px;
      --min-height: 60px;
    }
    ion-icon {
        color:aqua;
        font-size: 32px;
        margin-right: 5%;
    }
    ion-input{
      font-size: 24px;
    }
    text-align: center;
    font-weight: bold;
    margin: 10% 0px;
}


ion-buttons {
    margin:auto;
    display:flex;
    flex-direction:column;
    width: 100%;
    text-align: center;
}

ion-buttons ion-button {
  font-size: 22px;
  color:white;
  font-weight: bold;
  margin: 10px 0px;
}

ion-buttons ion-button.signin{
  color: yellow;
}
