<ion-header>
  <ion-toolbar>
    <ion-title>Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- 3 Day Detox -->
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-list-header (click)="onShow3Day()">3 Day Detox</ion-list-header>
          <div *ngIf="show3Day">
            <!-- Detox Shopping List -->
            <ion-item
             lines="none"
             class="ion-margin-top"
             [routerLink]="[
              '/',
              'smoothie-guide',
              'tabs',
              'guide',
              'shppinglist',
              shoppingListDetox.bookId,
              shoppingListDetox.id
             ]">
              <ion-label>{{shoppingListDetox.title}}</ion-label>
            </ion-item>

            <!-- Day of 3 Day Detox -->
            <ion-item
              *ngFor="let dayDetox of dayDetoxs"
              lines="none"
              class="ion-margin-top"
              [routerLink]="[
              '/',
              'smoothie-guide',
              'tabs',
              'guide',
              'daydetail',
              dayDetox.bookId,
              dayDetox.id
             ]"
            >
              <ion-label>{{dayDetox.title}}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- 21 Day Smoothie Diet -->
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-list-header (click)="onShow21Day()">21 Day Smoothie Diet</ion-list-header>
          <div *ngIf="show21Day">
            <!-- Detox Shopping List -->
            <ion-item
            lines="none"
            class="ion-margin-top"
            [routerLink]="[
            '/',
            'smoothie-guide',
            'tabs',
            'guide',
            'shppinglist',
            shoppingListSmoothie.bookId,
            shoppingListSmoothie.id
            ]">
            <ion-label>{{shoppingListSmoothie.title}}</ion-label>
            </ion-item>

            <!-- Day of 3 Day Detox -->
            <ion-item
            *ngFor="let dayDetox of dayDetoxs"
            lines="none"
            class="ion-margin-top"
            [routerLink]="[
            '/',
            'smoothie-guide',
            'tabs',
            'guide',
            'daydetail',
            dayDetox.bookId,
            dayDetox.id
            ]"
            >
            <ion-label>{{dayDetox.title}}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
