<ion-header>
  <ion-toolbar>
    <ion-title>Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-list-header (click)="onShow3Day()">{{bookName}}</ion-list-header>
          <div *ngIf="show3Day">
            <ion-item
             lines="none"
             class="ion-margin-top"
             [routerLink]="[
              '/',
              'smoothie-guide',
              'tabs',
              'guide',
              'shppinglist',
              bookDetox.id
             ]"
            >
              <ion-label>{{titles[0]}}</ion-label>
            </ion-item>

            <ion-item
              *ngFor="let dayDetox of dayDetoxs"
              lines="none"
              class="ion-margin-top"
              [routerLink]="[
              '/',
              'smoothie-guide',
              'tabs',
              'guide',
              'daydetail',
              dayDetox.id
             ]"
            >
              <ion-label>{{dayDetox.title}}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-list-header (click)="onShow21Day()">{{bookName2}}</ion-list-header>
          <div *ngIf="show21Day">
            <ion-item *ngFor="let title of titles1" lines="none" class="ion-margin-top">
              <ion-label>{{title}}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
