ion-toolbar{
  --background: #06D6A0;
  --color: white;
  --min-height: 50px
}

ion-toolbar ion-title{
  font-size: 30px;
  font-weight: bold;
}

ion-list{
  width: 100%;
}

ion-list ion-item{
  --color-hover: red;
  --color:  #06D6A0;
  --background: white;
  --min-height: 50px;
  --border-width: 4px;
  --border-color: #06D6A0;
  --border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
