<ion-header>
  <ion-toolbar>
    <ion-title>Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-list-header (click)="onShow3Day()">{{bookName}}</ion-list-header>
          <div *ngIf="show3Day">
            <ion-item *ngFor="let title of titles" lines="none" class="ion-margin-top">
              <ion-label>{{title}}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-list-header (click)="onShow21Day()">{{bookName2}}</ion-list-header>
          <div *ngIf="show21Day">
            <ion-item *ngFor="let title of titles1" lines="none" class="ion-margin-top">
              <ion-label>{{title}}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
