<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/smoothie-guide/tabs/guide"></ion-back-button>
    </ion-buttons>

    <ion-title>{{dayDetail.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text id="day1">{{smoothie.title}}</ion-text>
  <ion-text id="intro">
    {{smoothie.description}}
  </ion-text>
  <ion-list id ="ingredients" >
    <ion-list-header>Ingredients</ion-list-header>
    <ion-text *ngFor="let i of smoothie.ingredients">{{i}}</ion-text>
  </ion-list>
  <ion-list id="directions" >
    <ion-list-header>Directions</ion-list-header>
    <ion-text *ngFor="let i of smoothie.directions">{{i}}</ion-text>
  </ion-list>

  <ion-button color="white">
    Check
  </ion-button>

</ion-content>
