<ion-app>
  <ion-menu side="start" menuId="m1"  contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Smoothie Diet
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink ="/profile"  button>
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/smoothie-guide/tabs/e-book" button>
            <ion-icon name="book-outline" slot="start"></ion-icon>
            <ion-label>E-Book</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" button routerLink ="/auth">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
