<ion-content>

  <ion-list id="text">
    <ion-text id="t1">SMOOTHIE</ion-text>
    <ion-text id="t2">DIET APP</ion-text>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-input placeholder="Name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input placeholder="Email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-input placeholder="Phone Number" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Password" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Enter the Password" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-buttons>
    <ion-button id="re">Register</ion-button>
    <ion-button routerLink="/auth">Return</ion-button>
  </ion-buttons>

</ion-content>
