ion-toolbar{
    --background: #06D6A0;
    --color: white;
    --min-height: 50px 

}
  
ion-toolbar ion-title{
    font-size: 16px;
    font-weight: bold;
}

ion-back-button {
    color:white;
}

#tit{
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    padding:5%;
}

#day {
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}
ion-list {
    display:flex;
    flex-direction:column;
    width: 100%;
}
#s1 {
    font-size: 30px;
    display:flex;
    flex-direction:column;
    text-align: center;
    padding:15%;
}

#s2 {
    font-size: 30px;
    display:flex;
    flex-direction:column;
    text-align: center;
    padding:15%;
}

#t1 {
    font-weight: bold;
}

#t2 {
    font-weight: bold;
}
#l1 {
    color:red;
}
ion-label {
    color:red;
}