ion-toolbar{
    --background: #06D6A0;
    --color: white;
    --min-height: 50px

}

ion-toolbar ion-title{
    font-size: 16px;
    font-weight: bold;
}

ion-back-button {
    color:white;
}

#tit{
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    padding:5%;
}

#day {
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}
ion-list {
    display:flex;
    flex-direction:column;
    width: 100%;
}

div{
  border: 5px solid #06D6A0;
  border-radius: 10px;
  margin: 20px;
  padding: 10% 5%;
}

#s1 {
    font-size: 30px;
    display:flex;
    flex-direction:column;
    text-align: center;
}

#s2 {
    font-size: 30px;
    display:flex;
    flex-direction:column;
    text-align: center;
}

#t1 {
    font-weight: bold;
}

#t2 {
    font-weight: bold;
}

#l1 {
    color:red;
}

ion-text{
  margin-top: 5%;
}

ion-label {
    color:red;
}
