ion-toolbar{
    --background: #06D6A0;
    --color: white;
    --min-height: 50px 

}
  
ion-toolbar ion-title{
    font-size: 25px;
    font-weight: bold;
}

ion-back-button {
    color:white;
}

ion-list {
    padding: 10px;
}
ion-label {
    font-weight: bold;
}
 
