<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/smoothie-guide"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item id="avatar">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Vo Hoang Nhien</ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      Email
      <ion-text slot="end">abt@gmail.com</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="transgender-outline"></ion-icon>
      Gender
      <ion-text slot="end">Male</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline"></ion-icon>
      Date of Birth
      <ion-text slot="end">20/05/2002</ion-text>
    </ion-item>
  </ion-list>

</ion-content>
