ion-item.container{
  display: flex;
  flex-direction: row;
}

ion-list{
  width: 100%;
}

ion-list ion-item{
  --background:  #06D6A0;
  --color: white;
  --min-height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

ion-text.title-book{
  font-size: 24px;
  font-weight: bold;
  align-items: flex-start;
}
