<ion-header>
  <ion-toolbar>
    <ion-title>E-book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-buttons>

      <ion-button href="https://www.google.gg/search?q=image&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjvqNbz9ov4AhWAUPUHHQYMAIAQ_AUoAXoECAEQAw&biw=1536&bih=754&dpr=1.25#imgrc=gxFxsvFBmxeZ9M">3 Day Detox</ion-button>

      <ion-button href="https://drive.google.com/file/d/1qi0rWxdKwcxgZSCxpWQEifEv_h-jzZee/view?usp=sharing" id="second">QuickStart</ion-button>

      <ion-button href="https://drive.google.com/file/d/1aw4fq0cN2qpcqLaSvf7EO_DiiD_mQjwm/view?usp=sharing">21 Day Smoothie Diet</ion-button>

    </ion-buttons>
</ion-content>
