<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">
        Open
      </ion-button> -->
    </ion-buttons>
    <ion-title>E-book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-buttons class="button-ebook">

      <ion-button routerLink="/smoothie-guide/tabs/e-book/bookdetox">3 Day Detox</ion-button>

      <ion-button routerLink="/smoothie-guide/tabs/e-book/bookquickstart" id="second">QuickStart</ion-button>

      <ion-button routerLink="/smoothie-guide/tabs/e-book/booksmoothiediet">21 Day Smoothie Diet</ion-button>


    </ion-buttons>
    <ion-button (click)="onAdd()">Add shoppingListSmoothie</ion-button>
    <ion-button (click)="onAddDayDetox()">Add Day Detox</ion-button>
    <ion-button (click)="onAddDaySmoothie()">Add Day Smoothie</ion-button>
</ion-content>
